@charset "utf-8";
/* CSS Document */

.hidden { display: none;}

body{
  background-color: #fcfcfc;
  font-family: abhaya_libreregular, arial, sans-serif;
  font-size: 18px;
  letter-spacing: .5px;
  line-height: 1.5;
  color: #181818;
}

h1{
  font-family: archivoregular, times, serif;
  font-size: 36px;
  color: #3079d9;
}

h2{
  font-family: archivoregular, times, serif;
  font-size: 30px;
  color: #404040;
}

h3{
  font-family: archivoregular, times, serif;
  font-size: 24px;
  color: #181818;
}

ul{
  margin-left: 40px;
  list-style: square;
}


#container{
  margin: 0 auto;
  padding: 10px;
  width: 990px;
  background-color: #eee;
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

#header{
  float: left;
  margin-left: 30px;
  margin-top: 10px;
  padding: 10px;
}

#heroimage img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

#footer{
  padding: 40px;
}

.infoblock{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  background-color: #63b0f2;
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

#worksblock{
  padding: 10px;
  background-color: #63b0f2;
}

#worksblock .infoblock{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  box-shadow: 0px 2px 2px rgba(0,0,0,.5);
}

.spacer{padding: 20px;}
